<mat-toolbar color="basic" class="MaNavBar">

  <mat-toolbar-row>
    <span></span>
    <span class="example-spacer"></span>
    <span>Tél.: 06.60.32.98.95</span>
    <div class="example-button-row">
      <a mat-raised-button color="primary" routerLink="expert"> <i class="material-icons"> person </i> Je suis un Expert</a>
      <a mat-raised-button color="primary" routerLink="contact"> <i class="material-icons"> mail </i> Contactez-nous</a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <img src="../../assets/logo-172-1.jpg" />
    <span>Matchers</span>
    <span class="example-spacer"></span>

    <a routerLink="."> ACCUEIL </a>
    <a routerLink="."> QUI SOMMES NOUS VRAIMENT ? </a>
    <a routerLink="."> PAROLE D'EXPERTS </a>

  </mat-toolbar-row>

</mat-toolbar>
