<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


  <!-- Libérateur  d'expertise  ---->



  <div id="Liberateur_Dexpertise" ></div>
  <img id="ImageLiberateurExpertise" src="../assets/photo-172-1.jpg">

  <h2 id="LegendeImageLierateurDexprtises"> LIBERATEUR D'EXPERTISES   </h2>
  <p id="Legende2ImageLierateurDexprtises" >Nous connectons les cadres experts salariés avec les T/PME <br/>
    pour les accompagner comme nulle part ailleurs !</p>

  <button id="BouttonnExpert">Je veux un expert</button>


</div>
